@import "/global-css/variables";

.members-search {
  margin-bottom: $spacing-06;

  .members-search-title {
    margin-bottom: $spacing-04;
  }

  .search-button {
    background-color: $primary;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}

.members-th-row {
  background-color: $primary-lighten;
  font-weight: bold;
}

.members-td-img img {
  width: 80px;
}

.members-search-container {
  display: flex;
  gap: $spacing-04;
}
